.marqueeContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    padding: 4rem 0;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 4rem 0;
}

.marqueeContent {
    display: flex;
    animation: marquee linear infinite;
    min-width: 100%;
    flex-shrink: 0;
    justify-content: space-around;
    /* Distribute items */
}

.textItem {
    font-size: 6vw;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    padding: 0 4vw;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    text-transform: uppercase;

    transition: color 0.3s ease;

    &:hover {
        color: #fff;
        -webkit-text-stroke: 1px #fff;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}